/*wow css*/
@import url("use.typekit.net");

:root {
	--primaryColor : #053e4c;
	--secondaryColor : #0b2f35;
	--bgColor : #c2c3be;
	--black : #1a1a1a;
}

body {
	margin: 0px auto;
	box-sizing: content-box;
	font-family: 'Minion Variable concept', serif;
	background-image: url('../images/sea-shore.png');
	background-color: var(--bgColor);
	background-size: cover;
	background-position-x: right;
	background-repeat: no-repeat;
	color: var(--black);
	overflow-x: hidden;
	max-width: 100vw;
}

.show {
	/* display: block; */
	opacity: 1;
	position: relative;
}

.hide {
	/* display: none; */
	opacity: 0;
	position: absolute;
	top: -10000px;
}

.fade {
	transition-duration: 1s;
}

.sr-only {
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}

* {
	opacity: 1;
	transition: opacity 1s ease;
}

#on-page-load {
	background-image: url('../images/sea.png');
	background-color: var(--bgColor);
	background-size: cover;
	background-repeat: repeat no-repeat;
	background-position: center bottom;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30vh 1rem 0;
	transition: top 3s ease;
	top: 0%;
}

#on-page-load * {
	color: white;
	opacity: 1;
	transition: opacity 1s ease;
}

#on-page-load.recede {
	top: -100% !important;
	background-color: transparent;
}

#on-page-load.recede * {
	opacity: 0;
}

@keyframes ping {
	
}

.wave-container {
	height: 250px;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

#waves {
	position: relative;
	background-image: url('../images/sea-1.png');
	background-size: cover;
	background-repeat: repeat no-repeat;
	background-position: center bottom 0%;
	height: inherit;
	width: 100%;
	transition: transform 3s ease;
	transform: translateY(-60%);
}

#waves.slide-in {
	transform: translateY(0%);
	animation: wave 10s linear 0s infinite;
}

@keyframes wave {
	0% {
		top: 0%;
	}
	45% {
		top: -7%;
	}
	80% {
		top: 0%;
	}
	100% {
		top: 0%;
	}
}


h1 {
	font-size: 3.25rem;
}

.subtitle {
	font-size: 1.3rem;
}

h2 {
	margin-top: 0.5em;
	font-size: 2rem;
}

h1, h2, .accent-font {
	font-family: 'Allura', 'Brush Script MT', 'Courier New', cursive;
	color: var(--primaryColor);
}

.md-font {
	font-size: 1.5em;
}

.and-sign {
	display: block;
	font-size: 2.3rem;
	margin-bottom: -0.5em;
}

.photo-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 300px;
}

.photo-container:hover .photo-wrapper:nth-of-type(1), .photo-container:focus .photo-wrapper:nth-of-type(1) {
	transform: rotate(-10deg);
}
.photo-container:hover .photo-wrapper:nth-of-type(2), .photo-container:focus .photo-wrapper:nth-of-type(2) {
	transform: rotate(10deg);
}

.photo-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 200px;
	height: 215px;
	box-sizing: content-box;
	border: 5px solid white;
	border-bottom-width: 50px;
	box-shadow: inset 2px 2px 15px 5px rgba(0, 0, 0, 0.2), 3px 3px 15px 5px rgba(208, 204, 196,0.7), -3px -3px 15px 5px rgba(0, 0, 0, 0.3);
	transition: transform 1s ease;
}

.photo-wrapper:nth-of-type(1) {
	transform: rotate(-15deg);
}
.photo-wrapper:nth-of-type(2) {
	transform: rotate(15deg);
}

hr {
	background-image: url('../images/divider.png');
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat repeat;
	background-position: center;
	mix-blend-mode: soft-light;
	height: 20px;
	opacity: initial;
	margin: 30px 0;
}

.img-wrapper {
	position: relative;
}

.img-wrapper img {
	max-width: 200px;
	width: 130%;
	height: auto;
	mix-blend-mode: soft-light;
}


.form-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
/* Fields */
.input-field-label {
	margin-right: .5em;
	display: block;
	font-size: inherit;
}
.input-field {
	height: 40px;
	width: 100%;
	max-width: 300px;
	padding: .05em .5em;
	background-color: #9a958c9e;
	border: none;
	border-radius: 10px;
	color: var(--black);
	-webkit-box-shadow: 0px 0px 8px 4px #9a958c9e; 
	box-shadow: 0px 0px 8px 4px #9a958c9e;
}

/* Buttons */
.btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin: 15px auto;
	justify-content: center;
}

.btn {
	min-height: 42px;
	min-width: fit-content;
	padding: 0.5em 1em;
	transition: all .3s ease;
	background: var(--primaryColor);
	color: white;
	border: 1px solid transparent;
	border-radius: 10px;
	font-family: 'Minion Variable concept', serif;
}

.btn.secondary {
	background: transparent;
	color: var(--primaryColor);
	border: 1px solid var(--primaryColor);
	border-radius: 10px;
	font-family: 'Minion Variable concept', serif;
}

.btn:hover {
	background: var(--secondaryColor);
	color: white;
}

.btn:disabled {
	border-color: gray;
	color: grey;
}

/* Accordion */
.accordion-item {
	background-color: transparent;
}

button.accordion-button {
	font-weight: bold;
	background-color: inherit;
}
button.accordion-button:hover, .accordion-button:not(.collapsed) {
	color: var(--secondaryColor);
}

/* Carousel */

.carousel-item {
	max-width: 480px;
	max-height: 70vh;
	margin: auto;
	float: none;
}

.carousel-item.active {
	display: flex;
	align-items: center;
}

.carousel-indicators {
	position: relative;
	margin: auto;
}

.carousel-indicators [data-bs-target] {
	border-radius: 5px;
  	height: 5px;
  	width: 5px;
	border: 4px solid var(--primaryColor);
	background-color: transparent;
	margin-top: 30px;
	margin-right: 5px;
	margin-left: 5px;
}

.carousel-indicators [data-bs-target].active {
  	width: 15px;
	background-color: var(--secondaryColor);
}


@media (min-width: 768px) {
	.wave-container {
		height: 315px;
	}

	.img-wrapper {
		min-height: 100px;
	}
	
	.photo-wrapper {
		width: 175px;
		height: 200px;
	}
	
	.carousel-item {
		max-width: 480px;
		max-height: 600px;
	}
}

@media (min-width: 480px) {
	body {
		background-position-y: -50px;
	}
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}

	.and-sign {
		margin-left: calc(3.75 * 1em);
	}

	.photo-wrapper {
		width: 175px;
		height: 180px;
	}
	
	.btn-wrapper {
		justify-content: left;
	}
}


@media (max-width: 480px) {
	.desktop-only {
		display: none;
	}
	.mobile-only {
		display: block;
	}

	h1, h2, p {
		text-align: center;
	}

	.img-wrapper {
		text-align: center;
	}

	.photo-wrapper:nth-of-type(1) {
		transform: rotate(-10deg);
	}
	.photo-wrapper:nth-of-type(2) {
		transform: rotate(10deg);
		margin-top: -25px;
	}

	.form-container {
		flex-direction: column;
	}
}