/*wow css*/
@import url("use.typekit.net");

:root {
	--primaryColor : #530d05;
	--secondaryColor : #8f6700;
	--tertiaryColor: white;
	--bgColor : #f6f4ef;
	--black : #1a1a1a;
}

body {
	margin: 0px auto;
	box-sizing: content-box;
	background-color: var(--bgColor);
	color: var(--secondaryColor);
	overflow-x: hidden;
	max-width: 100vw;
	font-family: 'Bell MT', serif;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	word-spacing: 0f.2em;
	text-align: center;
	font-size: 15px;
}

.container {
	max-width: 600px;
}

.show {
	/* display: block; */
	opacity: 1;
	position: relative;
}

.hide {
	/* display: none; */
	opacity: 0;
}

.fade {
	transition-duration: 1s;
}

.sr-only {
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}

* {
	opacity: 1;
	transition: opacity 1s ease;
}


h1 {
	font-size: 1.5rem;
	line-height: 1.5;
}

h2 {
	font-size: 1.35rem;
	color: var(--primaryColor);
}

.accent-font {
	font-family: 'Allura', 'Brush Script MT', 'Courier New', cursive;
	font-size: 1.8em;
	text-transform: lowercase;
	letter-spacing: 0em;
	display: inline-block;
}

p {
	margin-bottom: 0.5em;
}

a {
	color: var(--secondaryColor);
	text-decoration: none;
}
a:hover {
	color: var(--primaryColor);
}

.md-font {
	font-size: 1.25em;
}
.sm-font {
	font-size: .75em;
}

hr {
	border: 1px solid var(--secondaryColor);
	margin: 15px auto 30px;
	width: 60px;
}

/* Fields */
.form-control, .form-select{
	/* background-color: transparent; */
	/* color: var(--tertiaryColor); */
	border: 1px solid var(--secondaryColor);
	font-weight: 600;
}

/* Textfield */
.form-input {
	margin-top: 30px;
	margin-bottom: 15px;
}

input::placeholder {
	color: var(--secondaryColor) !important;
}

/* Dropdown */
.form-select option {
	color: var(--black);
}
.form-select option:hover {
	color: var(--primaryColor);
}


/* Radio */
.form-check {
	text-align: left;
	margin-top: .5em;
	margin-bottom: 1em;
}
.form-check-input:checked {
	border-color: var(--tertiaryColor);
	background-color: var(--secondaryColor);
}
.form-check-input {
	border-color: var(--tertiaryColor);
	background-color: var(--primaryColor);
}


/* Buttons */
.btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin: 30px auto 15px;
	justify-content: center;
}

.btn {
	min-height: 42px;
	min-width: fit-content;
	padding: 0.25em 1em;
	transition: all .3s ease;
	background: var(--secondaryColor);
	color: white;
	border: 1px solid transparent;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.btn.secondary {
	background: transparent;
	color: var(--primaryColor);
	border: 1px solid var(--secondaryColor);
}

.btn:hover {
	background: var(--tertiaryColor);
	color: white;
}

.btn:disabled {
	border-color: gray;
	color: grey;
}

/* Section styling */
section {
	padding: 50px 30px;
}

#section-1 {
	background-image: url(../images/rose-1.png), url(../images/rose-2.png);
	background-position: left -20px top, right -20px top;
	background-repeat: no-repeat, no-repeat;
	background-size: 40%, 40%;
	padding-top: 100px;
}

#section-2 {
	background-image: url('../images/roses-left.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 100px;
	text-align: left;
	padding-left: 30vw;
}

.schedule {
	display: flex;
	gap: 15px;
	justify-content: start;
	margin-top: 15px;
	margin-bottom: 30px;
}

.schedule img {
	max-width: 40px;
	height: 100%;
	width: 100%;
}

.schedule .information p {
	margin-bottom: 0;
}

#section-3, #section-5 {
	background-color: var(--primaryColor);
	color: var(--tertiaryColor);
}

#section-3 h2, #section-5 h2 {
	color: var(--tertiaryColor);
}

#section-3 {
	background-image: url('../images/roses-bottom.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto 100px;
	padding-bottom: 100px;
}

#section-4 {
	background-image: url(../images/rose-3.png), url(../images/rose-4.png);
	background-position: left -20px bottom, right -20px bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 40%, 40%;
	padding-bottom: 120px;
}

#section-5 a {
	text-decoration: underline;
	text-decoration-color: var(--secondaryColor);
	color: var(--tertiaryColor);
}

@media (min-width: 768px) {
	
	img {
		max-width: 400px;
	}

	#section-2 {
		padding-left: 200px;
	}

}

@media (min-width: 480px) {
	body {
		background-position-y: -50px;
	}
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}
	
	#my-form {
		width: 80%;
		margin: auto;
	}

}


@media (max-width: 480px) {
	.desktop-only {
		display: none;
	}
	.mobile-only {
		display: block;
	}
}