/*wow css*/
@import url("use.typekit.net");

:root {
	--primaryColor : #530d05;
	--secondaryColor : #8f6700;
	--tertiaryColor: white;
	--bgColor : #f6f4ef;
	--black : #1a1a1a;
}

body {
	margin: 0px auto;
	box-sizing: content-box;
	font-family: 'Bell MT', serif;
	background-color: var(--bgColor);
	color: var(--secondaryColor);
	overflow-x: hidden;
	max-width: 100vw;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	word-spacing: 0f.2em;
	text-align: center;
}

.show {
	/* display: block; */
	opacity: 1;
	position: relative;
}

.hide {
	/* display: none; */
	opacity: 0;
}

.fade {
	transition-duration: 1s;
}

.sr-only {
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}

* {
	opacity: 1;
	transition: opacity 1s ease;
}


h1 {
	font-size: 1.5rem;
	line-height: 1.5;
}

h2 {
	margin-top: 0.5em;
	font-size: 1.35rem;
}

.accent-font {
	font-family: 'Allura', 'Brush Script MT', 'Courier New', cursive;
	color: var(--primaryColor);
	font-size: 1.7em;
	text-transform: lowercase;
	letter-spacing: 0em;
	display: inline-block;
}

p {
	margin-bottom: 0.5em;
}

a {
	color: var(--primaryColor);
	text-decoration: dotted;
}

.md-font {
	font-size: 1.25em;
}
.sm-font {
	font-size: .75em;
}

.photo-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 300px;
}

.photo-container:hover .photo-wrapper:nth-of-type(1), .photo-container:focus .photo-wrapper:nth-of-type(1) {
	transform: rotate(-10deg);
}
.photo-container:hover .photo-wrapper:nth-of-type(2), .photo-container:focus .photo-wrapper:nth-of-type(2) {
	transform: rotate(10deg);
}

.photo-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 200px;
	height: 215px;
	box-sizing: content-box;
	border: 5px solid white;
	border-bottom-width: 50px;
	box-shadow: inset 2px 2px 15px 5px rgba(0, 0, 0, 0.2), 3px 3px 15px 5px rgba(208, 204, 196,0.7), -3px -3px 15px 5px rgba(0, 0, 0, 0.3);
	transition: transform 1s ease;
}

.photo-wrapper:nth-of-type(1) {
	transform: rotate(-15deg);
}
.photo-wrapper:nth-of-type(2) {
	transform: rotate(15deg);
}

hr {
	border: 1px solid var(--secondaryColor);
	margin: 0.5em auto;
	width: 60px;
}

.img-wrapper {
	position: relative;
}

.img-wrapper img {
	max-width: 200px;
	width: 130%;
	height: auto;
}


.form-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Fields */
.input-field-label {
	margin-right: .5em;
	display: block;
	font-size: inherit;
}
.input-field {
	height: 40px;
	width: 100%;
	max-width: 300px;
	padding: .05em .5em;
	background-color: #9a958c9e;
	border: none;
	border-radius: 10px;
	color: var(--black);
	-webkit-box-shadow: 0px 0px 8px 4px #9a958c9e; 
	box-shadow: 0px 0px 8px 4px #9a958c9e;
}

/* Buttons */
.btn-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin: 15px auto;
	justify-content: center;
}

.btn {
	min-height: 42px;
	min-width: fit-content;
	padding: 0.5em 1em;
	transition: all .3s ease;
	background: var(--secondaryColor);
	color: white;
	border: 1px solid transparent;
	border-radius: 10px;
	font-family: 'Minion Variable concept', serif;
}

.btn.secondary {
	background: transparent;
	color: var(--primaryColor);
	border: 1px solid var(--secondaryColor);
	border-radius: 10px;
	font-family: 'Minion Variable concept', serif;
}

.btn:hover {
	background: var(--tertiaryColor);
	color: white;
}

.btn:disabled {
	border-color: gray;
	color: grey;
}

/* Section styling */
section {
	padding: 30px;
}

#section-1 {
	background-image: url(../images/rose-1.png), url(../images/rose-2.png);
	background-position: left -20px top, right -20px top;
	background-repeat: no-repeat, no-repeat;
	background-size: 40%, 40%;
	padding-top: 100px;
}

#section-2 {
	background-image: url('../images/roses-left.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 70px;
	text-align: left;
	padding-left: 70px;
}

.schedule {
	display: flex;
	gap: 15px;
	justify-content: start;
	margin-top: 15px;
	margin-bottom: 30px;
}

.schedule img {
	max-width: 40px;
	height: 100%;
	width: 100%;
}

.schedule .information {
	flex: 1 0 1;
}

@media (min-width: 768px) {

	.img-wrapper {
		min-height: 100px;
	}
}

@media (min-width: 480px) {
	body {
		background-position-y: -50px;
	}
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}
}


@media (max-width: 480px) {
	.desktop-only {
		display: none;
	}
	.mobile-only {
		display: block;
	}

	.img-wrapper {
		text-align: center;
	}

	.form-container {
		flex-direction: column;
	}
}