/* Change the main selection box styling */
.select2-container {
  width: 100% !important;
  margin-bottom: 1em;
}
.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid var(--secondaryColor); */
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 2em;
  color: var(--black);
  white-space: wrap;
  padding-right: 8px;
}
.select2-selection__rendered {
	color: var(--primaryColor);
  max-width: 100vw;
}

#welcome {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 1s ease-in-out, background-image .8s ease-in-out;
}

#welcome.collapse {
  padding: 50px 1em 1em;
  height: 100px;
  box-sizing: content-box;
  
	background-image: none;
}

#main {
  display: none;
}

#hero {
  margin: 30px 0;
}

/* Seat */
#seatSection {
  padding-top: 0em;
  padding-bottom: 80px;
}

#seat {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-color: var(--primaryColor);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  padding: 33px;
  margin: 0 auto;
  position: relative;
}

#seat h2 {
  color: var(--secondaryColorAccessible);
}

#tableNum {
  font-size: 3.5rem;
  margin-bottom: 0;
  color: var(--tertiaryColor);
  line-height: 0.7;
}

.center-rose {
  position: absolute;
  margin: 0 auto;
  transform: translateX(-50%) translateY(-50%);
}

/* schedule */

.reception-schedule {
  list-style-type: none;
	text-transform: initial;
  padding-left: 0;
}
.reception-schedule  li {
  position: relative;
  width: calc(50% + 1px);
	color: var(--black);
}
.reception-schedule .right {
  text-align: right;
  border-right: 1px solid var(--secondaryColor);
  padding-right: 15px;
}
.reception-schedule .left {
  text-align: left;
  margin-left: calc(50%);
  border-left: 1px solid var(--secondaryColor);
  padding-left: 15px;
}
.reception-schedule .right:after,
.reception-schedule .left:before {
  --bulletWidth: 8px;
  content: "";
  display: inline-block;
  height: var(--bulletWidth);
  width: var(--bulletWidth);
  border-radius: 50%;
  background-color: var(--secondaryColor);
  position: absolute;
  top: 0.5em;
}

.reception-schedule .right:after {
    right: calc(var(--bulletWidth) * -0.5 - 0px);
}
.reception-schedule .left:before {
    left: calc(var(--bulletWidth) * -0.5);
}

#menu .course:not(:last-child) {
  margin-bottom: 2em;
}