/* Page specific copy */
#section-2{
    position: relative;
}
.tab-image {
    position: absolute;
    top: 3em;
    opacity: 0.35;
    z-index: 1;
    width: 125px;
}
.tab-image.active {
    opacity: 1;
}

.tab-image#her-image {
    left: -10px;
}
.tab-image#his-image {
    right: -10px;
    transform: translateY(-6px);
}

.nav-link {  padding-bottom: 0px;}