
:root {
    --profile-pic-a : url();
    --profile-pic-b : url();
    --profile-pic-c : url();
    --profile-pic-d : url();
    --profile-pic-e : url();
    --profile-pic-f : url();
    --profile-pic-g : url();
}

section {
    width: 100%;
    height: 100vh;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.app-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

/* MAIN */
#main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem;

    background-image: var(--main-bg);
}

#main button {
    width: 80px;
    max-height: 80px;
    height: 25vw;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
}