
:root {
    --profile-pic-a : url();
    --profile-pic-b : url();
    --profile-pic-c : url();
    --profile-pic-d : url();
    --profile-pic-e : url();
    --profile-pic-f : url();
    --profile-pic-g : url();
}

section {
    width: 100%;
    height: 100vh;
    max-width: 468px;
    margin: auto;
    overflow-x: hidden;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.app-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.75rem 1rem 0.5rem 0.5rem;
    background-color: lightgray;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.app-content {
    max-height: calc(100vh - 65px);
    overflow-y: auto;
}

#lock-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--lock-bg);
    background-size: cover;
    background-position: top center;
}

.pass-wrapper {
    text-align: center;
    background-color: #ffffffdc;
    padding: 30px;
    width: 70%;
}

#password {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 100%;
}

#submitBtn {
    border: 1px solid white;
    background-color: #cccccc80;
    margin-top: 1em;
}
.error {
	display: none;
}

/* MAIN */
#main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
    padding: 1rem;

    background-image: var(--main-bg);
    background-size: cover;
    background-position: top center;
}

#main #fake-time {
    position: fixed;
    top: 50px;
    font-size: 3rem;
    text-shadow: 0px 0px 5px white;
}

#main button {
    width: 80px;
    max-height: 80px;
    height: 25vw;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
    background-color: #ffffffdc;
}

/* Messages */
.contact {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    font-size: 1.25rem;
}

.messages-container {
    height: calc(100vh - 140px);
}

.message-log {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.message {
    border-radius: 10px;
    max-width: 80%;
    padding: 15px;
    position: relative;
}

.incoming .message {
    background-color: lightgrey;
}
.incoming .message::after {
    content: '';
    position: absolute;
    bottom: -0.75rem;
    left: 0px;
    border: 10px solid lightgrey;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.outgoing .message {
    background-color: lightblue;
}
.outgoing .message::after {
    content: '';
    position: absolute;
    bottom: -0.75rem;
    right: 0px;
    border: 10px solid lightblue;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.outgoing > * {
    margin-left: auto;
}

.fake-keyboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 0.75em 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fake-input {
    width: 80%;
    height: 2rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
}

/* Calls */
.call-log {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid grey;
}

.call-log > p {
    margin-bottom: 0px;
}
.call-log .timestamp {
    margin-left: auto;
    margin-right: 10px;
}

.timestamp {
    font-size: 12px;
    margin-bottom: 0px;
}

/* Gallery */
#gallery img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
}

.main-img-wrapper {
    height: calc(100vh - 150px);
}

.main-img-wrapper img {
    margin: auto;
}

.img-nav-wrapper {
    display: flex;
    gap: 2px;
    position: fixed;
    bottom: 5px;
    width: 100%;
    max-width: 468px;
    overflow-x: scroll;
}

.img-nav {
    height: 75px;
    min-width: fit-content;
}

/* Files */

.file-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.file {
    text-align: center;
    height: 100px;
    margin: 24px;
}