/*wow css*/

body {
	margin: 0px auto;
	box-sizing: border-box;
	font-family: 'Manjari', Verdana, sans-serif;
}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.sr-only {
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	white-space: nowrap;
	border: 0;
}

section {
	padding: 30px;
	text-align: center;
}

/* #main h1, #main p{
	border-right: .15em solid orange;
	animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
} */

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }


/* Buttons */
